
aplikacija/Library/ArtifactDB
aplikacija/Library/Artifacts/0e/0e06a3d988651420c14cf911d6e602ec
aplikacija/Library/PackageCache/com.ptc.vuforia.engine@716a8216fe/Vuforia/Plugins/iOS/Vuforia.framework/Vuforia
video.mp4
